*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
main{
  position: fixed;
  top: 60px;
  left: 0px;
}
button{
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.primary-btn{
  color: white;
  background-color: black;
}
.secondary-btn{
  color: black;
  background-color: whitesmoke;
  border: 1px solid gray;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.all-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.content{
  display: flex;
  flex-wrap: wrap;
}